body {
    margin:0;
  font-family:arial;
  font-weight: 400;
  background-color:#D9D9D9;
}
p1 {
    position:fixed;left:100px;top:230px;
      font-style:italic;
}
p2 {
      position:fixed;left:240px;top:265px;
      font-style:italic;
}
p3 {
      position:fixed;right:220px;top:330px;
      font-style:italic;
}
p4 {
      position:fixed;right:290px;top:368px;
      font-style:italic;
}
p5 {
      position:fixed;left:120px;top:400px;
      font-style:italic;
}
p6 {
      position:fixed;left:300px;top:435px;
      font-style:italic;
}
nav {
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  background-color:Black;
  justify-content: space-between;
  overflow: auto;
  color:white;
}
ul li {
  position: ;
  margin: 10px 30px;
  list-style:none;
  display: inline-block;  
  padding: 5px;
  font-size: 20px;
  font-family:arial;
}
  
ul li a{
  text-decoration: none;
  text-align:right;
  cursor: pointer;
  color: rgb(255,255,255);
}
ul li a:hover {
  background-color: rgb(129, 123, 123);
}
.ad {
margin-left: 40px;
}
.logo {
        margin-left: 30px;
    		width: 175px;
  			height: 100px;
}
.sigma {
  position:fixed;left:530px;top:115px;
  width:400px;
  length:400px;
  padding:10px;
  }
button {
  font-size: 30px;
  color: white;
  background-color: teal;
  position:fixed;left:665px;top:530px;
  border-radius:5px;
}
button:hover {
  background-color:lightblue;
}
.star1 {
  position:fixed;left:110px;top:258px;
  width: 120px;
}
.star2 {
  position:fixed;left:910px;top:362px;
  width: 120px;
}
.star3 {
  position:fixed;left:170px;top:430px;
  width: 120px;
}
